{% extends 'AchopoPosterBundle::layout.html.twig' %}

{% block title %}Source and Goods .Ltd{% endblock %}

{% block content %}
                    
   <!-- About Section -->
    <div class="real-link"></div>
    <section class="about-section" id="about">
        <div class="container">
         
                <div class="col-lg-12"></div>
                <div class="col-lg-6 align-left">
                    <h5>Inception</h5>
                    <p>Source and Goods .ltd was founded in Hong Kong in 2014, several months after a Russian company failed to succesfully secure a supplier 
                        of timber from Africa and a textiles company searched in vain for factories worldwide to send their accessories to. 
                    </p>
                    <p>
                        Despite the spread of the internet, the need still arises to 
                        have physical contacts in different locations around the world. We offer such presence. 
                    </p>
                    <p>Nowadays, lots of establishments still have the need to talk to a local when in need of important information. We confirm the authenticity of publicly available information
                    and carry out research to cater for specific needs.</p>
             
                </div>
                <div class="col-lg-6 align-left">
                    <h5>Location</h5>
                    <p>Our operations are coordinated from Hong Kong - the freest economy in the world. Through research and maintaining a 
                        continuously growing database of verified information world wide, we provide reliable information for various geographic locations
                         and foreign establishments by utilizing our nearest contacts in the proximity.
                    </p>
                </div>
                <div class="col-lg-6 align-left">
                    <h5>Mission</h5>
                    <p> Our mission is to create a robust foundation of trust on which to develop several businesses.
                    </p>
                    <h5>Team</h5>
                    <p> Our team includes professionals from all works of life. We have ties with several other companies in different parts
                         of the world through whom we keep data up to date and create new personal contacts.
                    </p>
                </div>
                <div class="col-lg-6"></div>
            </div>
        </div>
    </section>
{% endblock %}

