{% extends 'AchopoPosterBundle::layout.html.twig' %}

{% block title %}Source and Goods .Ltd{% endblock %}

{% block content %}
    <div id="locations"  class="col-lg-12">
        <div id="loc_intro">
            The map below illustrates the locations of our representatives. For inquiries on locations not shown, please send us an email for details. The presentation of 
            the information below represents common conceptions and not an accurate represntation of geographic classification.
        </div>
    </div>
   
    <div class="col-lg-2"><h4>America</h4>
        <ul class="continent">
            <li>United States</li>
             <li>Canada</li>
            <li>Brazil</li>
            <li>Colombia</li>
            <li>Mexico</li>
        </ul>
    </div>
    <div class="col-lg-2"><h4>Europe</h4>
        <ul class="continent">
            <li>England</li>
            <li>France</li>
            <li>Russia</li>
            <li>Italy</li>
            <li>Spain</li>
        </ul>
    </div>
    <div class="col-lg-2"><h4>Asia</h4>
        <ul class="continent">
             <li>China</li>
             <li>Hong Kong</li>
             <li>Pakistan</li>
             <li>Nepal</li>
             <li>Bangladesh</li>
             <li>India</li>
         </ul>
    </div>
    <div class="col-lg-2"><h4>Africa</h4>
         <ul class="continent">
             <li>Cameroon</li>
             <li>Nigeria</li>
             <li>South Africa</li>
             <li>Ghana</li>
         </ul>
    </div>
    <div class="col-lg-2"><h4>Oceania</h4>
        <ul class="continent">
             <li>Australia</li>
         </ul>
    </div>
    <div  id="sg-map" class="col-lg-12">
    </div>  
    <div  id="sg-address" class="col-lg-12">
        <h3>Head Office</h3>
        Office E, 12F Shing Hing Commercial Building<br>
        21-27 Wing Kut Street<br>
        Central, Hong Kong.</br></br>
        info@sourceandgoods.com</br></br>
        +852 532 50 777<br>
    </div>  
{% endblock %}

