{% extends 'AchopoPosterBundle::layout.html.twig' %}

{% block title %}Source and Goods .Ltd{% endblock %}

{% block content %}
    <div id="locations"  class="col-lg-12">
        <div id="loc_intro">
            We are represented in the following locations:
        </div>
    </div>
   
    <div class="col-lg-2 col-xs-6  col-sm-4">
        <ul class="continent">
            <li><strong>America</strong></li>
            <li>United States</li>
             <li>Canada</li>
            <li>Brazil</li>
            <li>Colombia</li>
            <li>Mexico</li>
        </ul>
    </div>
    <div class="col-lg-2 col-xs-6  col-sm-4">
        <ul class="continent">
            <li><strong>Europe</strong></li>
            <li>England</li>
            <li>France</li>
            <li>Russia</li>
            <li>Italy</li>
            <li>Spain</li>
        </ul>
    </div>
    <div class="col-lg-2 col-xs-6  col-sm-4">
        <ul class="continent">
            <li><strong>Asia</strong></li>
             <li>China</li>
             <li>Hong Kong</li>
             <li>Pakistan</li>
             <li>Nepal</li>
             <li>Bangladesh</li>
             <li>India</li>
         </ul>
    </div>
    <div class="col-lg-2 col-xs-6  col-sm-4">
         <ul class="continent">
             <li><strong>Africa</strong></li>
             <li>Cameroon</li>
             <li>Nigeria</li>
             <li>South Africa</li>
             <li>Ghana</li>
         </ul>
    </div>
    <div class="col-lg-2 col-xs-6  col-sm-4">
        <ul class="continent">
            <li><strong>Oceania</strong></li>
             <li>Australia</li>
         </ul>
    </div>
    <div  class="hidden-xs hidden-sm col-lg-12  col-xs-12  col-sm-12">
        <div  id="sg-map"></div>
    </div>  
    <div  id="sg-address" class="col-lg-12  col-xs-12  col-sm-12">
        <h3>Head Office</h3>
        Office E, 12F Shing Hing Commercial Building<br>
        21-27 Wing Kut Street<br>
        Central, Hong Kong.</br></br>
        <a href="mailto:info@sourceandgoods.com">info@sourceandgoods.com</a></br></br>
        +852 532 50 777<br>
    </div>  
{% endblock %}

