/* Sticky footer styles
      -------------------------------------------------- */
* {
    font-family: 'Lato', serif;
}
html,
body {
  height: 100%; 
  font-size: 18px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -253px;
}

#push,#footer {
  height: 253px;
  }
  
#footer {
  background-color: #1C6347;
  margin-top: 100px;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
}

#logo-box {
    padding: 10px 0 10px 15px;
    height: 90px;
    background-color: #FFFFFF;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
}

#logo-content {
    height: 90px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}

#logo-content img {
   display: inline; 
   float: left;
}

#slogan {
    display: inline;
    float: left;
    padding: 2px 5px;
    font-size: 19px;
    width: 150px;
    line-height: 28px;
    color: #1C6347;
}

#logo-box img {
    height: 100%;
}

.navbar-fixed-top {
    top: 90px;
    border-width: 0 0 1px;
}
.navbar {
    background-color: #FFFFFF;
    border-bottom: none;
    border-radius: 0;
    padding: 0 !important;
    /*max-height: 80px;*/
}

@media (min-width: 768px) {
        .navbar > .container .navbar-brand {
        margin-left: -30px;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #cccccc;
    background-color: #000000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #1C6347;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default {
    color:#1C6347;
    border: none;
    /*background: #FFCC00;*/
}

.nav-justified {
    margin-top: 20px;
}

.navbar-default .nav-justified > li > a {
    color: #9E9E9E;
    height: 80px;
    line-height: 40px;
    font-size: 30px;
}

.navbar-default .nav-justified > li > a:hover {
   border-bottom: 10px solid #1C6347;
}

.active-page {
    border-bottom: 10px solid #1C6347;
}


.navbar-default .nav-justified > .active > a, .navbar-default .nav-justified > .active > a:hover, .navbar-default .nav-justified > .active > a:focus {
    border-bottom: 10px solid #1C6347;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: padding-box;
}

#home-section {
    min-height: 600px;
}

#about-section {
    min-height: 600px;    
}

#contact-section {
 min-height: 100px;
}

#locations {
    margin-top: 100px;
    text-align: left;
}

#loc_intro{
    padding: 5px 0;
    border-bottom:4px solid #1C6347;
    margin-bottom:4px;
}

#sg-map {
    height: 600px;
    margin-top: 20px;
}
#sg-address {
    margin-top: 10px;
    text-align: center;
}

.continent{
    text-align: left;
    list-style: none;
}

h4{
    text-align: center;
    font-weight: bold;
}


.footer {
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    
}

.footer h4 {
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
}

.footer a {
    line-height: 14px;
    padding: 10px;
    color: #1C6347;
    text-decoration: none;
    display: block;
}

.copyright {
    padding: 10px 20px;
    text-align: center;
}

.foot-links {
    text-align: left;
    padding: 20px 0;
}

.popular-links {
    text-align: left;
    padding: 20px 0;
}

.social-links {
    text-align: left;
    padding: 20px 0;
}

 #home-slide {
        width: 100% !important;
        height: 500px;
        margin-top: 120px;
    }

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

section {
    font-size: 19px;
    line-height: 2em;
    position: relative;
}

section h1 {
    font-size: 100px;
    margin: 10px 0 0 0;
    color: #000000;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #1C6347;
}
section h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 35px;
}

.intro-section {
    /*padding-top: 170px;*/
    text-align: center;
    /*margin-bottom: 150px;*/
}

.about-section {
    padding-top: 170px;
    text-align: center;
    /*margin-bottom: 150px;*/
    /*border-top: 1px solid #1C6347;*/
}

.services-section {
    padding-top: 170px;
    text-align: center;
    /*margin-bottom: 150px;*/
    /*border-top: 1px solid #1C6347;*/
}

.contact-section {
    padding-top: 170px;
    text-align: center;
    /*margin-bottom: 150px;*/
    /*border-top: 1px solid #1C6347;*/
}

.align-left {
    text-align: left;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
  #c-nav {
      float: left;
  }
  
  #c-nav .prev {
      display: inline;
      float: left;
      text-decoration: none;
      padding: 0 10px;
      color: #1C6347;
      font-size: 50px;      /*background-color: #FFCC00;*/
  }
  
  #c-nav .prev:hover {
      color: #000000;
  }
  
  
  #c-nav .next {
      display: inline;
      float: left;
      text-decoration: none;
      padding: 0 10px;
      color: #1C6347;
      font-size: 50px;
  }
  
  #c-nav .next:hover {
      color: #000000;
  }
  
  #c-nav ul {
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
    list-style-type: none;
    text-align: center;
    }

#c-nav  ul li { 
    display: inline;
}

#c-nav  ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #FFFFFF;
    background-color: #1C6347;
    border-right: 1px solid #fff;
}

#c-nav  ul li a:hover {
color: #FFFFFF;
background-color: #000000;
}

.rslides_here a{
    color: #FFFFFF !important;
    background-color: #000000 !important;  
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family:'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.real-link {
    top: -100px;
    position: relative;
}

#intro {
/*    top: -300px;
    position: relative;*/
margin-top: 100px;
}

.btn-primary {
    color: #ffffff;
    background-color: #1C6347;
    border-color: #1C6347;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #1C6347;
}

.btn {
    border-radius:0;
}


